<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}" type="text/css" />
</head>
<body>

<div class="container">

<nav class="nav navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<li><a href="/" class="navbar-brand">To Do App</a></li>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		
		<div class="collapse navbar-collapse" id="mynavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home<span class="glyphicon glyphicon-home"></span></a></li>
			</ul>

			<ul class="nav navbar-nav pull-right">
				<li><a href="/signup/">Sign Up<span class="glyphicon glyphicon-user"></span></a></li>
				<li><a href="/login/">Login <span class="glyphicon glyphicon-log-in"></span></a></li>
			</ul>
		</div>
	
	</div>

	
</nav>

<div class="container" style="position:relative;top:70px;">

{% block body %}


{% endblock %}

</div>

</div>

<div class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="container" style="color:orange"><h4>Site created by Charlie Machoka &copy; 2016 </h4></div>
</div>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
</html>